<!DOCTYPE html>
<html>
<head>
    <title>Report Anti-DEI</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="script.js"></script>
</head>
<body>
    <nav>
        <div id="home">
            <div class="heady">
                <h1>DEI Report</h1>
            </div>
        </div>
        <div id="home">
            <div class="topdiv">
                <a class="topmenu" href="#reported"> Local News</a>
                <a class="topmenu2" href="#actions"> Actions</a>
                <a class="topmenu2" href="#report"> Report</a>
                <form class="logout-form" action="/logout" method="get">
                <label class="hey">Hey,</label>
                <label class="hey" id="usery"> <%= username %></label>
                <label class="hey">!</label>
                <button type="submit">Logout</button>
                </form>
            </div>
        </div>  
        <!--div class="nav-title">MyApp</div-->
    </nav>
    <section id="reported">
      <h2 style="text-align: center;">Local News</h2>
      <div style="clear:both;"></div>
      <div class="all_recommendations" id="all_recommendations">
        <div class="recommendation">
          <p style="text-align: center;"><b>idk man</b></p>
          <span>&#8220;</span>
          This is a test message to see how the containers hold with larger texts yoooooooooooooooooooooooo.
          <span>&#8221;</span>
          <aside> shubh </aside>
        </div>
        <%- DATA %>
      </div>
    </section>
    <section id="actions">
      <h2 style="text-align: center;">Actions</h2>
      <div style="clear:both;"></div>
      <div class="all_recommendations" id="all_recommendations">
        <div class="recommendation">
          <p style="text-align: center;"><b>Unequal Treatment in Team Assignments</b></p>
          <span>&#8220;</span>
          Action was taken against the team by reducing 10 points of the DEI Violater from the project!
          <span>&#8221;</span>
          <aside> shubh </aside>
        </div>
        <div class="recommendation">
          <p style="text-align: center;"><b>Test</b></p>
          <span>&#8220;</span>
           Testing if the text here works or not. It workeddd
          <span>&#8221;</span>
          <aside> subham </aside>
        </div>
      </div>
    </section>
    <section id="report">
      <div class="flex_center">
        <fieldset>
          <legend class="introduction">Report</legend>          
          <input id="bruh" type="text" placeholder="Topic" required> <br/>
          <textarea id="new_recommendation" cols="500" rows="10" placeholder="Message" required></textarea>
          <div class="flex_center">
            <button id="recommend_btn" onclick="addRecommendation()">Submit</button>
          </div>
        </fieldset>
      </div>
    </section>
    <div class="popup" id="popup" class="flex_center">
      <!--img src="html_finalprojimages/checkmark--outline.svg"/-->
      <h3>Thank you for Reporting!</h3>
      <button onclick="showPopup(false)">Ok</button>
    </div>
</body>
</html>