body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  

#home {
    background-color:  #7600bc;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    height: 5mm;
}
  
.topmenu {
    color: lightgray;
    margin-left: 10px;
    padding: 30px;
    font-size: 20px;
    text-decoration:none;
}
.topmenu2{
    color: lightgray;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-decoration:none;
}